<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">
<head>
  <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="css">
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/reservation.css" rel="stylesheet" />
</th:block>
<th:block th:fragment="fontawesome">
  <script src="https://kit.fontawesome.com/89ab2ce88f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</th:block>
<th:block th:fragment="script">
  <script src="/js/weather.js" defer></script>
<!--  <script src="/js/calendar.js" defer></script>-->
</th:block>
<th:block th:fragment="content">
  <!-- main 하단 부분  -->
  <div id="reservation">
    <div class="big" th:href="@{/field/view(fieldNum=${fieldDetail2.fieldNum})}">
    <div class="title">대관예약</div>
    <div class="bodywrapper">
      <div class="left">
        <div class="leftmain" >
          <img th:src="@{'/img/play/' + ${fieldDetail2.fieldPhoto}}" class="playimage"/>
          <div  th:text="${fieldDetail2.fieldName}" >구장이름</div>
        </div>
        <div class="leftsub">
          <h2>유의사항</h2>
          <p> <i class="fa-solid fa-triangle-exclamation"></i> <span> 풋살장 내 음식물섭취 금지 </span>(물 / 음료 제외) <br>
            <i class="fa-solid fa-triangle-exclamation"></i> 이용시 발생하는 부상 및 상해 분실등 에 대한 책임은 이용자 본인에게 있습니다. </span><br>
            <i class="fa-solid fa-triangle-exclamation"></i> 문의 전화 : <span th:text="${fieldDetail2.fieldPhone}">구장전화번호</span>  문의가능시간 : 10:00~18:00<br>
            <i class="fa-solid fa-triangle-exclamation"></i> 풋살화 외 축구화 착용금지 (금속스터드.일반 스터드 축구화 착용금지)<br>
            <i class="fa-solid fa-triangle-exclamation"></i> <span>풋살파크 전 구역은 금연 구역입니다. (흡연은 흡연구역을 이용해주세요.) </span> <br>
            <i class="fa-solid fa-triangle-exclamation"></i> 풋살장 다음달 예약은 매월 20일에 오픈 됩니다.(주말일 경우 전일 오픈)<br>
            <i class="fa-solid fa-triangle-exclamation"></i> Chal-lae 풋살파크는 전구역 CCTV 촬영이 되고 있습니다.<br>
            <i class="fa-solid fa-triangle-exclamation"></i> 행사 목적의 대관은 사전 문의 주시길 바랍니다.<br>
          </p>
        </div>
        <div class="leftsub">
          <h2>환불규정</h2>
          <p>
            <i class="fa-solid fa-triangle-exclamation"></i> 단순 대관날짜 변경은 불가하며 예약 취소 및 환불 규정에 의거해 <br>환불 후 신규 대관일 을 신청하셔야 합니다.<br>
            <i class="fa-solid fa-triangle-exclamation"></i> 환불 및 취소는 일일단위로 가능합니다. <br>(~ 7일전 : 100% 환불 / 6일전 ~ 4일 전 : 50% 환불 / 3일 전 ~ 당일 : 환불 불가)<br>
            <i class="fa-solid fa-triangle-exclamation"></i> <span>대관 취소시 환불 규정  꼭 확인 부탁 드립니다.</span><br>
            <i class="fa-solid fa-triangle-exclamation"></i> 당일 환불은 천재지변으로 인한 경우에만 100% 환불됩니다. <br> (호우경보, 대설경보, 태풍주의보, 태풍경보만 적용)<br>
          </p>
        </div>
      </div>
      <div class="right">
        <div id="rightinner">
          <table id="calendar">
            <tr class="month">
              <td><label onclick="prevCalendar()"> ◀ </label></td>
              <td colspan="5" id="calendarTitle">yyyy년 m월</td>
              <td><label onclick="nextCalendar()"> ▶ </label></td>
            </tr>
            <tr class="date">
              <td><span style="color: red">일</span></td>
              <td>월</td>
              <td>화</td>
              <td>수</td>
              <td>목</td>
              <td>금</td>
              <td><span style="color: blue">토</span></td>
            </tr>
            <script type="text/javascript">buildCalendar();</script>
          </table>
          <!-- 예약 달력들어갈 자리 -->
          <table id = "timeTable">	</table>

          <!-- 달력에서 선택한 날짜가 동적으로 들어가는 자리 -->
        </div>
        <div class="inner">
          <span class="subtit">선택된 날짜 : <span id="selectedDate"></span> </span>
          <div class="tablewrap">
            <table class="reservationtable" >
              <h2>대관 예약자 정보</h2>
              <colgroup>
                <col style="width:25%" />
                <col style="" />
              </colgroup>
              <tbody>
              <tr>
                <th scope="row">신청자</th>
                <td><span th:text="${session.loginMember.name}"></span></td>
              </tr>
              <tr>
                <th scope="row">연락처</th>
                <td><span th:text="${session.loginMember.phone}"></span></td>
              </tr>
              <tr>
                <th scope="row">예약일자</th>
                <td id="dateBottom"><span id="selectedDate2">선택된날짜</span></td>
              </tr>
              <tr>
                <th scope="row">예약시간</th>
                <td id="timeBottom">예약시간 선택 없음</td>
              </tr>
              <tr>
                <th scope="row">총 결제금액</th>
                <td><span class="price"  id="priceBottom"></span></td>
              </tr>
              <tr>
                <th scope="row">메모</th>
                <td><span class="textarea"><textarea name="r_memo" rows="" cols=""></textarea></span></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="payment"><a href="#"><button><i class="fa-solid fa-calendar-days"></i>예약 및 결제</button></a></div>

        </div>
      </div>
    </div>
    </div>

  </div>
</th:block>
</body>
</html>
<script type="text/javascript">
  var fields = '[[${fields}]]';
  var today = new Date();
  var currentMonth = today.getMonth();  // 현재 월
  var currentYear = today.getFullYear();

  // fieldOpentime과 fieldClosetime을 Thymeleaf로 전달받아 JavaScript 변수에 할당
  var fieldOpentime = '[[${fieldDetail2.fieldOpentime}]]'; // 초기값은 오전 9시, 실제 값으로 대체됩니다.
  var fieldClosetime = '[[${fieldDetail2.fieldClosetime}]]'; // 초기값은 오후 6시, 실제 값으로 대체됩니다.
  var fieldDayprice = '[[${fieldDetail2.fieldDayprice}]]';
  var fieldEndprice = '[[${fieldDetail2.fieldEndprice}]]';


  function buildCalendar(){
    var row = null;
    var cnt = 0;
    var calendarTable = document.getElementById("calendar");
    var calendarTableTitle = document.getElementById("calendarTitle");
    calendarTableTitle.innerHTML = today.getFullYear()+"년"+(today.getMonth()+1)+"월";

    var firstDate = new Date(today.getFullYear(), today.getMonth(), 1);
    var lastDate = new Date(today.getFullYear(), today.getMonth()+1, 0);
    while(calendarTable.rows.length > 2){
      calendarTable.deleteRow(calendarTable.rows.length -1);
    }

    row = calendarTable.insertRow();

    for(i = 0; i < firstDate.getDay(); i++){
      cell = row.insertCell();
      cnt += 1;
    }

    for (i = 1; i <= lastDate.getDate(); i++) {
      if (cnt % 7 === 0) {
        row = calendarTable.insertRow();
      }

      cell = row.insertCell();
      cnt += 1;

      cell.setAttribute('id', i);
      cell.innerHTML = i;
      cell.style.textAlign = "center";

      cell.onclick = function(){
        var clickedYear = today.getFullYear();
        var clickedMonth = ( 1 + today.getMonth() );
        var clickedDate = this.getAttribute('id');

        clickedDate = clickedDate >= 10 ? clickedDate : '0' + clickedDate;
        clickedMonth = clickedMonth >= 10 ? clickedMonth : '0' + clickedMonth;
        var clickedYMD = clickedYear + "-" + clickedMonth + "-" + clickedDate;

        document.getElementById("selectedDate").innerText = clickedYMD;
        document.getElementById("selectedDate2").innerText = clickedYMD;

        // var selectedField = fields.find(field => field.fieldName === document.querySelector(".leftmain div").innerText);
        // var fieldDayprice = selectedField.fieldDayprice;
        // var fieldEndprice = selectedField.fieldEndprice;
        //
        // // 요일 확인 (0:일요일, 6:토요일)
        // var clickedDay = new Date(clickedYear, clickedMonth - 1, clickedDate).getDay();
        // var price = (clickedDay == 0 || clickedDay == 6) ? fieldEndprice : fieldDayprice;
        // document.getElementById("priceBottom").innerText = price + "원";
        var clickedDay = new Date(clickedYear, clickedMonth - 1, clickedDate).getDay();

        // 주말인 경우
        if (clickedDay == 0 || clickedDay == 6) {
          document.getElementById("priceBottom").innerText = fieldEndprice + "원"; // 주말 가격 표시
        } else {
          document.getElementById("priceBottom").innerText = fieldDayprice + "원"; // 주중 가격 표시
        }
      }
      if (cnt % 7 == 1) {
        cell.innerHTML = "<span style='color: red;'>" + i + "</span>";
      }
      if (cnt % 7 == 0){
        cell.innerHTML = "<span style='color: blue;'>" + i + "</span>";
        row = calendar.insertRow();
      }
    }
    if(cnt % 7 != 0){
      for(var i = 0; i < 7 - (cnt % 7); i++){
        var cell = row.insertCell();
      }
    }
  }
  function prevCalendar(){
    if(today.getFullYear() > currentYear || (today.getFullYear() === currentYear && today.getMonth() > currentMonth)){
      today = new Date(today.getFullYear(), today.getMonth()-1, today.getDate());
      buildCalendar();
      buildTimeTable();
    }
  }
  function nextCalendar(){
    if(today.getFullYear() < currentYear || (today.getFullYear() === currentYear && today.getMonth() < currentMonth + 1)){
      today = new Date(today.getFullYear(), today.getMonth()+1, today.getDate());
      buildCalendar();
      buildTimeTable();
    }
  }
  function buildTimeTable() {
    var timeTable = document.getElementById("timeTable")
    // 기존 테이블 내용 초기화
    while (timeTable.rows.length > 0) {
      timeTable.deleteRow(timeTable.rows.length - 1);
    }
    // 시간을 1시간 간격으로 추가
    var openHour = parseInt(fieldOpentime.split(':')[0]);
    var closeHour = parseInt(fieldClosetime.split(':')[0]);
    for (var hour = openHour; hour < closeHour; hour++) {
      var row = timeTable.insertRow();
      var cell = row.insertCell();
      var timeText = (hour < 10 ? "0" + hour : hour) + ":00-" + ((hour + 1 < 10 ? "0" + (hour + 1) : hour + 1) + ":00");
      cell.innerHTML = timeText;
      cell.style.textAlign = "center";
      cell.style.cursor = "pointer";
      // 클릭 이벤트 추가
      cell.onclick = function () {
        document.getElementById("timeBottom").innerText = this.innerText;
      };
    }
  }
  buildCalendar();
  buildTimeTable();
</script>