<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">

<head>
  <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="css">
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/reservation.css" rel="stylesheet" />
</th:block>

<th:block th:fragment="fontawesome">
  <script src="https://kit.fontawesome.com/89ab2ce88f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</th:block>

<th:block th:fragment="script">
  <script src="/js/weather.js" defer></script>

</th:block>


<th:block th:fragment="content">

  <!-- main 하단 부분  -->
  <div id="reservation">
    <div class="title">대관예약</div>

    <div class="bodywrapper">
      <div class="left">
        <div class="leftmain" >
          <img src="/img/football.jpg" class="playimage"/>
          <p>동대문점</p>
        </div>

        <div class="leftsub">
          <h2>유의사항</h2>
          <p> <i class="fa-solid fa-triangle-exclamation"></i> <span> 풋살장 내 음식물섭취 금지 </span>(물 / 음료 제외) <br>
            <i class="fa-solid fa-triangle-exclamation"></i> 이용시 발생하는 부상 및 상해 분실등 에 대한 책임은 이용자 본인에게 있습니다. </span><br>
            <i class="fa-solid fa-triangle-exclamation"></i> 문의 전화 - 대관 담당자 : 010-1111-1111 / 010-2222-2222  문의가능시간 : 10:00~18:00<br>
            <i class="fa-solid fa-triangle-exclamation"></i> 풋살화 외 축구화 착용금지 (금속스터드.일반 스터드 축구화 착용금지)<br>
            <i class="fa-solid fa-triangle-exclamation"></i> <span>풋살파크 전 구역은 금연 구역입니다. (흡연은 흡연구역을 이용해주세요.) </span> <br>
            <i class="fa-solid fa-triangle-exclamation"></i> 풋살장 다음달 예약은 매월 20일에 오픈 됩니다.(주말일 경우 전일 오픈)<br>
            <i class="fa-solid fa-triangle-exclamation"></i> Chal-lae 풋살파크는 전구역 CCTV 촬영이 되고 있습니다.<br>
            <i class="fa-solid fa-triangle-exclamation"></i> 행사 목적의 대관은 사전 문의 주시길 바랍니다.<br>
          </p>
        </div>

        <div class="leftsub">
          <h2>환불규정</h2>
          <p>
            <i class="fa-solid fa-triangle-exclamation"></i> 단순 대관날짜 변경은 불가하며 예약 취소 및 환불 규정에 의거해 <br>환불 후 신규 대관일 을 신청하셔야 합니다.<br>
            <i class="fa-solid fa-triangle-exclamation"></i> 환불 및 취소는 일일단위로 가능합니다. <br>(~ 7일전 : 100% 환불 / 6일전 ~ 4일 전 : 50% 환불 / 3일 전 ~ 당일 : 환불 불가)<br>
            <i class="fa-solid fa-triangle-exclamation"></i> <span>대관 취소시 환불 규정  꼭 확인 부탁 드립니다.</span><br>
            <i class="fa-solid fa-triangle-exclamation"></i> 당일 환불은 천재지변으로 인한 경우에만 100% 환불됩니다. <br> (호우경보, 대설경보, 태풍주의보, 태풍경보만 적용)<br>
          </p>
        </div>
      </div>
      <div class="right">
        <div id="calendar">
          <img src="/img/football.jpg" class="calendararea" />
          <span class="subtit">날짜선택 : 2024.05.28 </span>
          <!-- 달력에서 선택한 날짜가 동적으로 들어가는 자리 -->
          <!-- 예약 달력들어갈 자리 -->
        </div>
        <div class="inner">


          <div class="sub">
            <h3>시간 선택</h3>
            <p>
                <span>
                    <select name="time" id="">
                      <option value="">시간을 선택해주세요</option>
                      <option value="70">10:00~12:00</option>
                      <option value="71">12:00~14:00</option>
                      <option value="72">14:00~16:00</option>
                    </select>
                  <!-- <button>10:00~12:00</button>
                  <button>12:00~14:00</button>
                  <button>14:00~16:00</button>
                  <button>16:00~18:00</button>
                  -->
                  </span></p>
          </div>
          <div class="tablewrap">
            <table class="reservationtable" >
              <h2>대관 예약자 정보</h2>
              <colgroup>
                <col style="width:25%" />
                <col style="" />
              </colgroup>
              <tbody>
              <tr>
                <th scope="row">신청자</th>
                <td>리덕재</td>
              </tr>
              <tr>
                <th scope="row">연락처</th>
                <td>
                  010-1111-1111
                </td>
              </tr>


              <tr>
                <th scope="row">예약일자</th>
                <td id="dateBottom">2024.05.16</td>
              </tr>
              <tr>
                <th scope="row">예약시간</th>
                <td id="timeBottom">예약시간 선택 없음</td>
              </tr>

              <tr>
                <th scope="row">총 결제금액</th>
                <td><span class="price"  id="priceBottom">0</span>원</td>
              </tr>
              <tr>
                <th scope="row">메모</th>
                <td>
                      <span class="textarea">
                        <textarea name="r_memo" rows="" cols=""></textarea>
                      </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="payment">
            <a href="#"><button><i class="fa-solid fa-calendar-days"></i>예약 및 결제</button></a>
          </div>

        </div>

      </div>
    </div>
  </div>
</th:block>

</body>

</html>
<script>
  function getCalendar(v){
    var stadium_code = document.form.stadium_code.value;
    $.get("ajax_calendar.asp?stadium_code="+stadium_code+"&reqdate="+v , function(r){
      $("#calendarDiv").html(r);
    });
  }

  function getCalendarByStadium(e){
    var stadium_code = e.value;
    var v;
    v = $("#regdate").text();
    v = v.replace(".","-");
    v = v.replace(".","-");

    $.get("ajax_calendar.asp?stadium_code="+stadium_code+"&reqdate="+v , function(r){
      $("#calendarDiv").html(r);
    });
  }
</script>