<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="template(css, script, content, fontawesome)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAL-LAE !</title>

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css"
          integrity="sha512-aQb0/doxDGrw/OC7drNaJQkIKFu6eSWnVMAwPN64p6sZKeJ4QCDYL42Rumw2ZtL8DB9f66q4CnLIUnAw28dEbg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <!-- 부트스트랩 -->

    <!-- 파비콘 -->
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="apple-touch-icon" href="/img/favicon.ico" />

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous" defer></script>
    <!-- Jquery -->

    <!-- 일반 CSS -->
    <th:block th:replace="${css}"></th:block>
    <link href="/css/style.css" rel="stylesheet" />
    <!-- 일반 CSS -->

    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Jua&display=swap" rel="stylesheet">
    <!-- 구글 폰트 -->

    <!-- fontawesome -->
    <th:block th:replace="${fontawesome}"></th:block>
    <!-- fontawesome -->

    <!-- 일반 js -->
    <th:block th:replace="${script}"></th:block>
    <script src="/js/rolling-list.js" defer></script>
    <script src="/js/edit-member.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <!-- 일반 js -->
</head>

<body>
<div id="wrapper">
    <!-- 상단 nav 구역 -->
    <nav>
        <!-- 로고 div -->
        <a class="nav-logo" href="/"><img src="/img/chal-lae2.png" style="height: 100%; width: 90%;" />
            <span></span>
        </a>
        <!-- 상단 메뉴 div 구역 -->
        <div class="nav-menu">
            <ul>
                <li>
                    <a href="/club/list"><span>팀 목록</span></a>
                </li>
                <li>
                    <a href="/club/myteam"><span>내 팀 보기</span></a>
                </li>
                <li>
                    <a href="/field/list"><span>구장 정보</span></a>
                </li>
                <li>
                    <a href="/board/list"><span>고객센터</span></a>
                </li>
            </ul>

        </div>

        <!-- 로그인 / 회원가입 div -->
        <div class="nav-login">

            <!-- 내 정보 toggle창 -->
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight" style="background-color: #000; border: none; font-size: 20px;">내 정보</button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
                 style="height: 100%; background-color: #d2d2d2; padding: 10px;">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel"
                        style="margin-top: 40px; padding-left: 10px; font-size: 25px;"><i class="fa-solid fa-user"></i> 내 정보</h5>


                    <th:block th:if="${session.loginMember == null}">
                        <img src="/img/teamlogo.jpg" style="width: 100px; height: 100px; background-repeat: round; margin-left: 30px;">
                    </th:block>

                    <th:block th:if="${session.loginMember != null}">
                        <img id="backprofile" th:src="@{/profile/{profileFileName}(profileFileName=${session.loginMember.storedProfile})}"
                             style="width: 100px; height: 100px; background-repeat: round; margin-left: 30px;">
                    </th:block>

                    </th:block>

                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="text-align: left;">
                    <th:block th:if="${session.loginMember == null}">
                        <hr>
                        <!-- 내 정보 상단 -->
                        <div class="toggle-top" style="margin-bottom: 50px;">
                            <span>이름</span ><br>
                            <span>이메일</span ><br>
                            <span>소속 클럽</span ><br>
                        </div>
                        <hr>
                    </th:block>
                    <th:block th:if="${session.loginMember != null}">

                        <hr>
                        <!-- 내 정보 상단 -->
                        <div class="toggle-top" style="margin-bottom: 50px;">
                            <span th:text="${session.loginMember != null ? session.loginMember.name : ''}"></span><br>
                            <span th:text="${session.loginMember != null ? session.loginMember.id : ''}"></span><br>
                            <span th:text="${session.loginMember != null ? session.loginMember.email : ''}"></span><br>
                            <span th:if="${session.loginMember.clubNum != null}" th:text="${session.loginMember.clubNum}"></span>
                            <span th:unless="${session.loginMember.clubNum != null}">소속클럽이 없습니다</span>
                            <button id="editButton"><span>회원정보 수정하기</span></button>
                       </span>
                        </div>
                        <hr>
                        <div>#감독일 경우 승인 칸#</div>
                        <!-- 숨겨진 편집 폼 -->
                        <form id="editForm" action="/member/update" method="post" style="display: none;">
                            <i class="fa-solid fa-user"></i>  <span th:text="${session.loginMember != null ? session.loginMember.id + '님의 정보입니다' : ''}"></span>

                            <div class="form-group">
                                <label for="currentEmail">현재 이메일</label>
                                <br>
                                <span type="email" id="currentEmail"th:text="${session.loginMember.email}"></span>
                            </div>

                            <div class="form-group">
                                <label for="newEmail">새 이메일</label>
                                <br>
                                <input type="email" id="newEmail" name="newEmail">
                            </div>

                            <div class="form-group">
                                <label for="password">변경할 비밀번호</label>
                                <br>
                                <input type="password" id="password" name="password">
                            </div>

                            <div class="form-group">
                                <label for="repasswd">비밀번호 재입력</label>
                                <br>
                                <input type="password" id="repasswd" name="repasswd">
                            </div>

                            <button type="button" id="submit-editButton" onclick="updateMemberInfo()">정보 수정</button>
                            <br>
                            <span id="updateMessage">#정보 수정시 재로그인 해야 반영 됩니다</span>
                        </form>
                    </th:block>
                </div>
            </div>
            <th:block th:if="${session.loginMember == null}">
                <span><a href="/member/signin">로그인</a></span>
                <span><a href="/member/signup">회원가입</a></span>
            </th:block>
            <th:block th:if="${session.loginMember != null}">
                <span><a href="/" th:text="${session.loginMember != null ? session.loginMember.id + '님 환영합니다!' : ''}"></a></span>
                <span><a href="/member/signout">로그아웃</a></span>
            </th:block>


        </div>
    </nav>
    <!-- 광고 배너 구역-->
    <main>
        <section>
            <article class="rolling-wrap">
                <div class="rolling-list">
                    <ul>
                        <li>
                            <div class="image-wrap"></div>
                            <div class="desc">
                            </div>
                        </li>
                        <li>
                            <div class="image-wrap"></div>
                            <div class="desc">
                            </div>
                        </li>
                        <li>
                            <div class="image-wrap"></div>
                            <div class="desc">
                            </div>
                        </li>
                        <li>
                            <div class="image-wrap"></div>
                            <div class="desc">
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
        </section>

        <!-- main 하단 부분  -->
            <th:block th:replace="${content}"></th:block>

    </main>

    <!-- 풋터 구역 -->
    <footer id="footer">
        <div class="footer_wrap">
            <span class="logo"></span>
            <div class="foot_util">
                <ul>
                    <li><a href="/member/privacy.asp">개인정보처리방침</a></li>
                    <li><a href="/member/tos.asp">이용약관</a></li>
                    <li><a href="/member/emailcollection.asp">이메일 무단수집거부</a></li>
                </ul>
            </div>
            <p class="info">서울시 노원구 123-567 7층 709호<span>TEL : 02-111-2222</span><span>FAX : 02-1234-6789</span></p>
            <p class="copy">COPYRIGHT ⓒCHALLAE. ALLRIGHT RESERVED</p>
        </div>
    </footer>
    <!-- //Footer -->
</div>
</body>


</html>
