<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">

<head>
  <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="css">
  <link href="/css/board.css" rel="stylesheet" />
</th:block>

<th:block th:fragment="fontawesome">
  <script src="https://kit.fontawesome.com/89ab2ce88f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</th:block>

<th:block th:fragment="script">
  <script src="/js/weather.js" defer></script>
  <script src="/js/filepath.js" defer></script>
  <script src="/js/notice_popup.js" defer></script>
</th:block>


<th:block th:fragment="content">
  <!-- main 하단 부분  -->
  <div class="main-content">

    <!-- 게시판 -->
    <div class="main-left">
      <h1>Q&A 게시판</h1>
      <!-- 팀목록 테이블 -->
      <div class="table_wrap list">
        <table>
          <thead>
          <tr>
            <th scope="col">아이디</th>
            <th scope="col">이름</th>
            <th scope="col" class="tb">제목</th>
            <th scope="col">날짜</th>
          </tr>
          </thead>

          <!-- 더미데이터 -->
          <tbody>
          <tr id="team_detail">
            <td>min</td>
            <td>민경찬</td>
            <td class="tb">안녕하세요</td>
            <td>5/9</td>
          </tr>

          <tr id="team_detail">
            <td>min</td>
            <td>민경찬</td>
            <td class="tb">안녕하세요</td>
            <td>5/9</td>
          </tr>

          <tr id="team_detail">
            <td>min</td>
            <td>민경찬</td>
            <td class="tb">안녕하세요</td>
            <td>5/9</td>
          </tr>

          <tr id="team_detail">
            <td>min</td>
            <td>민경찬</td>
            <td class="tb">안녕하세요</td>
            <td>5/9</td>
          </tr>

          <tr id="team_detail">
            <td>min</td>
            <td>민경찬</td>
            <td class="tb">안녕하세요</td>
            <td>5/9</td>
          </tr>
          </tbody>

        </table>
      </div>

      <!-- 검색 + 페이지 -->
      <div class="pager_wrap">



        <!-- 페이지내이션 -->
        <div class="pagination">
          <a href="#">❮❮</a>
          <a href="#">❮</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">❯</a>
          <a href="#">❯❯</a>
        </div>

      </div>
    </div>

    <!-- 공지 사항  -->

    <div class="main-right">
      <h1>공지사항</h1>
      <div class="notice-board">
        <ul>
          <li id="notice_1" class="notice_item">* [신규지점 OPEN 안내]  천안신방점 GRAND OPEN</li>
          <li id="notice_2" class="notice_item">* [신규지점 OPEN 안내]  인하점 GRAND OPEN</li>
          <li id="notice_3" class="notice_item">* [신규 이벤트 안내] 울산점 이벤트 안내 </li>
          <li id="notice_4" class="notice_item">* [CHAL-LAE] 홈페이지 개편 안내</li>
        </ul>
      </div>

      <!-- 모달 시작 -->
      <div id="notice_modal_1" class="notice_modal">
        <a class="modal_close_btn"></a>
        <div class="container">
          <h1>공지사항</h1>
          <div>
            <h2>[신규지점 OPEN 안내]</h2>
            <h3>더피치 천안신방점 GRAND OPEN</h3>
          </div>
          <div>
            <img id="sinbang" src="/img/notice/open-sinbang.png" alt="신방점 이미지">
          </div>
        </div>
      </div>

      <div id="notice_modal_2" class="notice_modal">
        <a class="modal_close_btn"></a>
        <div class="container">
          <h1>공지사항</h1>
          <div>
            <h2>[신규지점 OPEN 안내]</h2>
            <h3>더피치 인하점 GRAND OPEN</h3>
          </div>
          <div>
            <img id="inha" src="/img/notice/open-inha.png" alt="인하점 이미지">
          </div>
        </div>
      </div>

      <div id="notice_modal_3" class="notice_modal">
        <a class="modal_close_btn"></a>
        <div class="container">
          <h1>공지사항</h1>
          <div>
            <h2>[신규 이벤트 안내]</h2>
            <h3>울산점 불금 풋살 이벤트</h3>
          </div>
          <div>
            <img id="event" src="/img/notice/event.jpg" alt="이벤트 이미지">
          </div>
        </div>
      </div>

      <div id="notice_modal_4" class="notice_modal">
        <a class="modal_close_btn"></a>
        <div class="container">
          <h1>공지사항</h1>
          <div>
            <h2>[CHAL-LAE]</h2>
            <h3>홈페이지 개편 안내</h3>
          </div>
          <div>
            <img id="chal-lae" src="/img/notice/open.png" alt="홈페이지 개편 이미지">
          </div>
        </div>
      </div>
      <!-- 모달 끝 -->

    </div>
  </div>


</th:block>


</body>

</html>