<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">

<head>
  <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="css">
  <link href="/css/board.css" rel="stylesheet" />
</th:block>

<th:block th:fragment="fontawesome">
  <script src="https://kit.fontawesome.com/89ab2ce88f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</th:block>

<th:block th:fragment="script">
  <script src="/js/filepath.js" defer></script>
  <script src="/js/notice_popup.js" defer></script>
  <script src="/js/board.js" defer></script>
</th:block>


<th:block th:fragment="content">
  <!-- main 하단 부분  -->
  <div class="main-content">

    <!-- Q&A 게시판 -->
    <div class="main-left">
      <h1>Q&A 게시판</h1>

      <form id="searchForm" class="mb-1" th:object="${parameterForm}">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="작성자, 글제목, 글내용" th:field="*{searchValue}">
          <div class="input-group-append" id="button-addon4">
            <button class="btn btn-success btn-search" type="button">검색</button>
          </div>
        </div>
      </form>

      <div class="table_wrap list">
        <table>
          <thead>
          <tr>
            <th scope="col">글 번호</th>
            <th scope="col">작성자</th>
            <th scope="col" class="tb">제목</th>
            <th scope="col">날짜</th>
          </tr>
          </thead>
          <tbody>
          <tr id="team_detail" class="clickable-row" th:attr="data-href=@{/board/view(articleNum=${article.getArticleNum()})}" th:each="article : ${articleList}">
            <td th:text="${article.getArticleNum()}"></td>
            <td th:text="${article.getArticleAuthor()}"></td>
            <td class="tb" th:text="${article.getArticleTitle()} + ' (' + ${commentCounts[__${article.getArticleNum()}__]} + ')'"></td>
            <td th:text="${article.getArticleDate()}"></td>
          </tr>
          </tbody>
        </table>
          <a id="gowrite" href="/board/write">게시글 작성하기</a>


      </div>


      <div class="pagination">
        <!-- 처음으로 출력 -->
        <a class="page-link" th:if="${pagination.showFirst}" th:href="@{/board/list(requestPage=1, searchValue=${parameterForm.searchValue})}">❮❮</a>
        <!-- 이전목록 출력 -->
        <a class="page-link" th:if="${pagination.showPrevious}" th:href="@{/board/list(requestPage=${pagination.previousStartPage}, searchValue=${parameterForm.searchValue})}">❮</a>

        <!-- 페이지번호 반복 -->
        <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
          <a class="page-link" th:href="@{/board/list(requestPage=${i}, searchValue=${parameterForm.searchValue})}" th:text="${i}"></a>
        </th:block>

        <!-- 다음목록 출력 -->
        <a class="page-link" th:if="${pagination.showNext}" th:href="@{/board/list(requestPage=${pagination.nextStartPage}, searchValue=${parameterForm.searchValue})}">❯</a>
        <!-- 끝으로 출력 -->
        <a class="page-link" th:if="${pagination.showLast}" th:href="@{/board/list(requestPage=${pagination.totalPages}, searchValue=${parameterForm.searchValue})}">❯❯</a>
      </div>
    </div>


    <!-- 공지 사항  -->

    <div class="main-right">
      <h1>공지사항</h1>
      <div class="notice-board">
        <ul>
          <li id="notice_1" class="notice_item">* [신규지점 OPEN 안내]  천안신방점 GRAND OPEN</li>
          <li id="notice_2" class="notice_item">* [신규지점 OPEN 안내]  인하점 GRAND OPEN</li>
          <li id="notice_3" class="notice_item">* [신규 이벤트 안내] 울산점 이벤트 안내 </li>
          <li id="notice_4" class="notice_item">* [CHAL-LAE] 홈페이지 개편 안내</li>
        </ul>
      </div>

      <!-- 모달 시작 -->
      <div id="notice_modal_1" class="notice_modal">
        <button class="modal_close_btn">&times;</button> <!-- 닫기 버튼에 X 표시 추가 -->
        <div class="container">
          <h1>공지사항</h1>
          <div>
            <h2>[신규지점 OPEN 안내]</h2>
            <h3>더피치 천안신방점 GRAND OPEN</h3>
          </div>
          <div>
            <img id="sinbang" src="/img/notice/open-sinbang.png" alt="신방점 이미지">
          </div>
        </div>
      </div>

      <div id="notice_modal_2" class="notice_modal">
        <button class="modal_close_btn">&times;</button>
        <div class="container">
          <h1>공지사항</h1>
          <div>
            <h2>[신규지점 OPEN 안내]</h2>
            <h3>더피치 인하점 GRAND OPEN</h3>
          </div>
          <div>
            <img id="inha" src="/img/notice/open-inha.png" alt="인하점 이미지">
          </div>
        </div>
      </div>

      <div id="notice_modal_3" class="notice_modal">
        <button class="modal_close_btn">&times;</button>
        <div class="container">
          <h1>공지사항</h1>
          <div>
            <h2>[신규 이벤트 안내]</h2>
            <h3>울산점 불금 풋살 이벤트</h3>
          </div>
          <div>
            <img id="event" src="/img/notice/event.jpg" alt="이벤트 이미지">
          </div>
        </div>
      </div>

      <div id="notice_modal_4" class="notice_modal">
        <button class="modal_close_btn">&times;</button>
        <div class="container">
          <h1>공지사항</h1>
          <div>
            <h2>[CHAL-LAE]</h2>
            <h3>홈페이지 개편 안내</h3>
          </div>
          <div>
            <img id="chal-lae" src="/img/notice/open.png" alt="홈페이지 개편 이미지">
          </div>
        </div>
      </div>
      <!-- 모달 끝 -->

    </div>
  </div>


</th:block>


</body>

</html>