<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.springmvc.domain.match.mapper.CreateMapper">
    <!--  구장 정보 가져오기  -->
    <select id="findAllField" resultType="FieldDto">
        select field_num, field_name
        FROM field
    </select>

    <!--  매치 생성-->
    <insert id="createMatch" parameterType="CreateDto">
        INSERT INTO MATCH(match_num, match_date, match_info, match_time, club_num, field_num, match_photo)
        VALUES (MATCH_SEQ.NEXTVAL, #{matchDate}, #{matchInfo}, #{matchTime}, #{clubNum}, #{fieldNum}, #{matchPhoto})
    </insert>

    <!--     로그인한 상태에서 같은 클럽원 목록(이름, 저장된 사진, 클럽 번호) 가져오기-->
    <select id="findByClubNum" parameterType="int" resultType="MemberDto">
        select member_name "name", member_storedphoto "storedProfile", club_num "clubNum"
        from member
        where club_num = #{value}
    </select>
<!--    myteam 경기일정 출력 / 이동을 위한 매치번호 , 출력을 위한 날짜, 시간, 구장번호, 구장이름-->
    <select id="findClubMatch"  resultType="CreateDto">
        SELECT match.match_num, match.match_date, match.match_time, match.club_num, match.field_num, field.field_name
        FROM match
        JOIN field ON match.field_num = field.field_num
        WHERE match.club_num = #{clubNum}
    </select>


</mapper>

