<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">
<head>
    <meta charset="utf-8">
</head>
<body>
<th:block th:fragment="css">
    <link href="/css/login.css" rel="stylesheet">
</th:block>

<th:block th:fragment="fontawesome">

</th:block>
<th:block th:fragment="script">

</th:block>

<th:block th:fragment="content">

    <div class="container">
        <h1>Login</h1>

        <form method="post" th:object="${loginForm}">
            <div class="form-control">
                <input type="text" autofocus th:field="*{loginId}" th:value="${loginForm.loginId}" />
                <label id="id">아이디</label>
            </div>

            <div class="form-control">
                <input type="password" th:field="*{loginPasswd}" />
                <label id="passwd">패스워드</label>
            </div>

            <h5 th:text="${loginError}" th:style="'color: red;'"></h5>
            <br>

            <input type="checkbox" th:field="*{rememberLoginId}" th:checked="*{rememberLoginId}" /><label>아이디 기억하기</label>

            <button class="login_btn" type="submit">로그인</button>

            <p class="text">아이디를 잊으셨나요? <a href="/member/find">아이디찾기</a></p>
        </form>
    </div>
</th:block>


</body>

</html>