<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">
<head>
    <meta charset="utf-8">
</head>

<body>
<th:block th:fragment="css">
    <link href="/css/signup.css" rel="stylesheet">
</th:block>

<th:block th:fragment="fontawesome">

</th:block>
<th:block th:fragment="script">
    <script src="/js/filepath.js" defer></script>
    <script src="/js/validator.js" defer></script>
    <script src="/js/memberregister.js" defer></script>
</th:block>

<th:block th:fragment="content">

            <div class="signup" id="detailDiv" style="display: block;">
                <form name="registerForm" method="post" th:object="${memberForm}" enctype="multipart/form-data">

                <div class="layer_cont">
                    <h1>회원가입을 환영합니다!</h1>
                    <div class="table_wrap" id="detail">
                        <table class="add_table">
                            <colgroup>
                                <col class="t01">
                                <col class="t02">
                                <col class="t01">
                                <col class="t02">
                            </colgroup>
                            <tbody>

                            <tr>
                                <th scope="row">이름</th>
                                <td class="al_left">
                                    <input type="text" th:field="*{name}">
                                    <p th:errors="*{name}" th:class="text-danger">이름 관련 입력 오류 메시지</p>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">아이디</th>
                                <td class="al_left">
                                    <input type="text" th:field="*{id}">
                                    <p th:errors="*{id}" th:class="text-danger">아이디 관련 입력 오류 메시지</p>
                                    <br>
                                    <span id="checkedId"></span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">비밀번호</th>
                                <td class="al_left"><input type="password" th:field="*{passwd}"></td>
                                <p th:errors="*{passwd}" th:class="text-danger">비밀번호 관련 입력 오류 메시지</p>
                            </tr>

                            <tr>
                                <th scope="row">비밀번호 확인</th>
                                <td class="al_left"><input type="password" th:field="*{rePasswd}"></td>
                                <p th:errors="*{rePasswd}" th:class="text-danger">비밀번호 확인 관련 입력 오류 메시지</p>
                            </tr>

                            <tr>
                                <th scope="row">이메일</th>
                                <td class="al_left"><input type="email" th:field="*{email}"></td>
                                <p th:errors="*{email}" th:class="text-danger">이메일 관련 입력 오류 메시지</p>
                            </tr>

                            <tr>
                                <th scope="row">연락처</th>
                                <td class="al_left"><input type="text" placeholder="번호만 입력 해 주세요" th:field="*{phone}"></td >
                            </tr>

                            <tr>
                                <th scope="row">프로필 사진</th>
                                <td id="filebox">
                                    <input class="upload_name" value="No Image" readonly>
                                    <label for="file">파일찾기</label>
                                    <input type="file" id="file" th:field="*{profileImage}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="btn_wrap">
                            <button type="submit" class="detail_join_btn">신청하기!</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>


</th:block>

</html>










