<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">
<head>
    <meta charset="utf-8">
</head>

<body>
<th:block th:fragment="css">
    <link href="/css/signupresult.css" rel="stylesheet">
</th:block>

<th:block th:fragment="fontawesome">

</th:block>
<th:block th:fragment="script">
</th:block>

<th:block th:fragment="content">

            <div class="signup" id="detailDiv" style="display: block;">
                <div class="layer_cont">
                    <h1>회원이 되신걸 축하합니다</h1>
                    <h2>가입 정보 입니다</h2>
                    <div class="table_wrap" id="detail">
                        <table class="add_table">
                            <colgroup>
                                <col class="t01">
                                <col class="t02">
                                <col class="t01">
                                <col class="t02">
                            </colgroup>
                            <tbody>

                            <tr>
                                <th scope="row">이름</th>
                                <td class="al_left">
                                    <input type="text" readonly th:value="${memberDto.name}">
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">아이디</th>
                                <td class="al_left">
                                    <input type="text" readonly th:value="${memberDto.id}">
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">이메일</th>
                                <td class="al_left">
                                    <input type="text"  readonly th:value="${memberDto.email}">
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">연락처</th>
                                <td class="al_left">
                                    <input type="text" readonly th:value="${memberDto.phone}">
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">프로필 사진</th>
                                <td id="filebox">
                                    <img src="/img/teamlogo.jpg" th:src="@{/member/image/{fileName}(fileName=${memberDto.storedProfile})}">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="btn_wrap">
                            <button type="submit" class="detail_join_btn"><a href="/club/list">팀 목록 보기!</a></button>
                            <button type="submit" class="detail_join_btn"><a href="/">홈으로</a></button>
                        </div>
                    </div>
                </div>
            </div>


</th:block>

</html>










