* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* 헤드 제목 시작 */
.team_add_text {
  margin-top: 30px;
  text-align: center;
}

.team_add_text:after {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 1px solid white;
  margin: 20px auto;
}

#text1 {
  font-size: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#text2 {
  font-size: 35px;
  padding-right: 20px;
}

/* 헤드 제목 끝 */

/* 본문 시작 */
#detailDiv {
  margin: 0 auto;
  width: 800px;
  height: 500px;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid #ccc;
}

/* 테이블 */
#detailDiv .add_table {
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 25px;
  line-height: 50px;
}

/* 테이블 input */
.head-input input {
  display: inline-block;
  background-color: black;
  color: white;
  border: none;
  width: 90%;
  height: 35px;
  font-size: 30px;
  text-align: center;
  outline: none;
}

/* 소개 textarea */
#team_memo_top{
  display: inline-block;
  background-color: black;
  color: white;
  resize: none;
  border: none;
  text-align: center;
  vertical-align: bottom;
  padding: 10px;
  margin-top: 10px;
  width: 450px;
  height: 100px;
  font-size: 20px;
}

#team_memo_bot{
  display: inline-block;
  background-color: black;
  color: white;
  resize: none;
  border: none;
  text-align: center;
  vertical-align: top;
  padding: 10px;
  margin-top: 10px;
  width: 450px;
  height: 100px;
  font-size: 20px;
}

/* 목록이동 */
#detailDiv .btn_wrap {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
}

/* 본문 끝 */