
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border: solid 1px #0068FF;
  border-radius: 20px;
  width: 30%;
  box-shadow: 30px 20px 20px 10px #0068FF40;

}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.login_btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.login_btn:focus {
  outline: 0;
}

.login_btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
  background-color: black;
  border: none;
}

.form-control input {
  background-color: black;
  outline: none;
  border: none;
  border-bottom: 2px lightblue solid;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: white;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

#id,
#passwd {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

form p {
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: space-between;
}

 #saveId{
    letter-spacing: 0.3rem;
    padding-left: 0.3rem;
  }

#id {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#id,
#passwd {
  color: lightblue;
  transform: translateY(-30px);
}