*{
  margin: 0px auto;
}
#detail {
  width: 100%;
}
.maintit {
  font-size: 50px;
  text-align: center;
}
.bodywrapper{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.left {
  width: 50%;
  float: left;
  padding: 10px;
}
.left p {
  text-align: center;
}
.left h2 {
  text-align: center;
}
.left .btnwrap {
  width: 100%;
  overflow: hidden;
}
.left .btnwrap .abtn{
  width: 70%;
  height: 60px;
  float: right;
  margin-right: 10px;
  background-color:rgb(132,	140,	181);
}

.left .btnwrap .abtn a{
  text-decoration: none;
  color: black;
}
.left .btnwrap .abtn:hover{
  text-decoration: none;
  color: white;
  background-color:rgb(132,	140,	181);

}
.stadium{
  margin-top: 20px;
}
.wrapperleft .stadiumtable{
  border: 1px solid white;
  width: 100%;
  float: left;
  text-align: center;
  padding:10px 0;
}
.wrapperleft .rule{
  margin-top: 30px}
.wrapperleft .rule p {
  text-align: left;

}
.rule span{
  color:rgb(169, 45, 45);
}

.left .img{
  width: 100%;
  height: 400px;
}


.right {
  width: 50%;
  padding: 10px;
}
.right h2{
  text-align: center;
}

.innerright {
  width: 100%;
}
.innerright .btnwrap2 {
  width: 100%;
  overflow: hidden;
}
.innerright .btnwrap2 .bbtn{
  width: 70%;
  height: 60px;
  margin-left: 10px;
  float: left;
  background-color:rgb(132,	140,	181);
}

.innerright .btnwrap2 .bbtn a{
  text-decoration: none;
  color: black;
}
.innerright .btnwrap2 .bbtn:hover{
  text-decoration: none;
  color: white;
  background-color:rgb(132,	140,	181);

}



.mapcontent p {
  text-align: center;
}

.innerright{
  width: 100%;
}
.fee{
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.innerright .fee .feetable {
  border: 1px solid white;
  width: 100%;
  float: left;
  text-align: center ;
  overflow: hidden;
}
.feetable h2{
  text-align: left;
  color: red;
}
.red {
  margin-top: 40px;
}
.red  span{
  color:rgb(169, 45, 45);
}
.red h2{
  text-align: left;
}
#map {
  width: 100%;
  /* width: 1000px; */
  height: 400px;
  /* height: 500px; */
}

