*{
  margin: 0px auto;
}
#reservation {
  width: 100%;
}
.title {
  width: 100%;
  text-align: center;
  font-size: 60px;
  padding:10px;
}
.bodywrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /*text-align: center;*/
}
.left {
  width: 50%;
  float: left;
  padding:20px;
}
.left .leftsub {
  margin-top: 30px;

}
.left .leftsub span{
  color:rgb(169, 45, 45);
}
.left .leftmain {
  width: 100%;
  text-align: center;
  background-color:rgb(166, 184, 196);
  color: black;
}
.left .leftmain .playimage{
  width: 100%;
}


.right {
  width: 50%;
  float: right;
  padding:20px;
}
#rightinner {
  width: 100%;
  height: 40%;
  text-align: center;
  background-color: rgb(166, 184, 196);
  border: 1px solid red;
  color: black;
  overflow: hidden;
}
.right .calendararea {
  width: 100%;
  text-align: center;
}

.inner {
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
  border: 1px solid rgb(166, 184, 196);
}
.tablewrap {
  width: 100%;
  margin-top: 40px;
}
.tablewrap .reservationtable {
  width: 100%;
  padding: 10px;
  background: black;
  border: 1px solid blue;
}
.reservationtable .tabletit{
  font-size: 25px;
}
.payment {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}
.payment button {
  width: 100%;
  height: 40px;
  color: black;
  background-color:rgb(166, 184, 196);

}
.payment button:hover{
  color: white;
  background-color: orange;
  text-decoration: none;
}