
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
    margin: auto;
    width: 94%;
}

#header {
    font-size: 42pt;
    text-align: center;
    margin: 30px auto;
    width: 380px;
    height: 70px;
    background: linear-gradient(to top, rgba(124, 190, 255, 40%) 60%, transparent 50%);
}

#game-info {
    width: 50%;
}

th, td {
    color: black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 5px 10px;
    margin: auto;
    font-size: 20pt;
}

td {
    background-color: aliceblue;
    text-align: center;
    font-size: 24pt;
    width: 60%;
}

.match-info {
    font-size: 18pt;
}

th {
    background-color: rgb(124, 190, 255);
    width: 20%;
    text-align: right;
    vertical-align: top;
}

#info-table {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;

}

.tactic-title {
    margin: 30px auto;
}

#tactic-board {
    margin: 30px auto;
    width: 95%;
    height: 65%;
    border: 1px solid rgb(124, 190, 255);
}

#info-head {
    width: 120px;
}


#info-board {
    display: flex;
    flex-direction: row;
}


h2 {
    text-align: center;
    color: black;
    border-radius: 20px;
    width: 200px;
    margin: 20px auto;
    background-color: rgb(219, 236, 255);
    border: 5px solid #50779d;
}

#map-name {
    height: 35px;
    width: 200px;
    margin: 20px auto;
    font-size: 24pt;
    background: linear-gradient(to top, rgba(124, 190, 255, 35%) 40%, transparent 50%);
}

#map-today {
    width: 50%;
    text-align: center;
    margin-right: 0px;
}

#map-img {
    margin: auto;
    height: 600px;
    width: 600px;
    border-radius: 20px;
    border: 10px solid #50779d;
}


.match-photo {
    width: 100%;
    height: 100%;
}