<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">

<head>
  <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="css">
  <link href="/css/clubRegisterSuccess.css" rel="stylesheet" />
  <link href="/css/clubList.css" rel="stylesheet" />
</th:block>

<th:block th:fragment="fontawesome">
  <script src="https://kit.fontawesome.com/89ab2ce88f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</th:block>

<th:block th:fragment="script">

</th:block>

<th:block th:fragment="content">


  <!-- 팀 생성 페이지 시작 -->
  <div class="team_add">
    <!-- 팀 텍스트 -->
    <div class="team_add_text">
      <span id="text1">클럽이 성공적으로 생성되었습니다.</span><span id="text2"></span>
    </div>

    <div class="layer_popup class" id="detailDiv" style="display: block;">

      <div class="layer_cont">
        <div class="table_wrap" id="detail">
          <table class="add_table">
            <colgroup>
              <col class="t01">
              <col class="t02">
              <col class="t01">
              <col class="t02">
            </colgroup>


            <div id="logo_clubname_flex">
              <div id="logo_div">
                <img src="/img/team_logo.jpeg" id="logo_img">
              </div>

              <div id="club_name_div">
                <h2 id="club_name">토토넘 핫스팟</h2>
              </div>
            </div>

            <tbody>
            <tr>
              <th scope="row">클럽 수준</th>
              <td class="al_left" id="levelbox">
                <input type="text" class="level_input" value="값 불러오기" readonly>

              </td>
            </tr>

            <tr>
              <th scope="row">활동 지역</th>
              <td class="al_left"><input type="text" value="깂 불러오기" readonly></td>
            </tr>

            <tr>
              <th scope="row">연락처</th>
              <td class="al_left"><input type="text" class="" value="값 불러오기" readonly></td>
            </tr>

            <tr>
              <th scope="row" style="padding-bottom: 200px;">소개</th>
              <td class="al_left" colspan="3" style="border-bottom: none;">
                <div class="match_meno">
                  <textarea name="" id="team_memo" readonly>값 불러오기</textarea>
                </div>
              </td>
            </tr>

            </tbody>
          </table>


          <div class="btn_wrap">
            <a href="javascript:;" onclick="" class="detail_join_btn">내팀보기</a>

            <a href="javascript:;" onclick="" class="detail_close_btn">홈페이지</a>

          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- 팀 생성 페이지 끝 -->
</th:block>

</body>
</html>