<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">

<head>
    <meta charset="UTF-8">
</head>


<body>
<th:block th:fragment="css">
    <link href="/css/clubList.css" rel="stylesheet"/>
</th:block>

<th:block th:fragment="script">
    <script src="/js/weather.js" defer></script>
    <script src="/js/board.js" defer></script>
    <script src="/js/clubListSubmitForm.js" defer></script>

</th:block>

<th:block th:fragment="fontawesome">
    <script src="https://kit.fontawesome.com/89ab2ce88f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</th:block>

<th:block th:fragment="content">


    <!-- 팀목록 텍스트 -->
    <div class="team_list_text">
        <span id="text1">클럽 목록</span><span id="text2">Club List</span>
    </div>

    <!-- 상세정보안내, 생성하기버튼 div flex -->
    <div id="info_add">
        <!-- 팀 상세정보 안내 -->
        <span id="team_detail_info"></span>
        <!-- 팀 생성하기 -->
        <div class="team_add_div">
            <button id="team_add_btn"><a href="/club/register" id="team_add_a"><span>클럽 생성</span><i
                    class="fa-solid fa-pen-to-square"></i></a></button>
        </div>
    </div>

    <!-- 팀목록 테이블 -->
    <div class="table_wrap list">
        <table>
            <thead>
            <tr>
                <th scope="col">로고</th>
                <th scope="col">클럽</th>
                <th scope="col">감독</th>
                <th scope="col" class="tb">지역</th>
                <th scope="col">수준</th>
                <th scope="col">인원수</th>
            </tr>
            </thead>

            <!-- 데이터 -->
            <tbody>
            <tr class="clickable-row" th:each="clubList : ${clubs}" th:attr="data-href=@{/club/detail(clubNum=${clubList.clubNum})}">
                <td id="img_td"><img th:src="@{/clublogo/{clubLogoFileName}(clubLogoFileName=${clubList.clubStoredPhoto})}"></td>
                <td th:text="${clubList.clubName}"></td>
                <td th:text="${clubList.clubPresident}"></td>
                <td th:text="${clubList.clubLocation}"></td>
                <td th:text="${clubList.clubLevel}"></td>
                <td th:text="${clubList.clubMemberCount}"></td>
            </tr>

            </tbody>

        </table>
    </div>

    <!-- 검색 + 페이지 -->
    <div class="pager_wrap">

        <!-- 검색 -->
        <form id="searchForm" name="srchForm" th:object="${parameterForm}" onsubmit="return submitForm()">
            <div class="search">
                <label for="search_select" hidden="hidden">검색유형</label>
                <select id="search_select" name="searchType">
                    <option value="">검색유형</option>
                    <option value="clubName">클럽명</option>
                    <option value="clubPresident">클럽장</option>
                    <option value="clubLocation">지역</option>
                    <option value="clubLevel">수준</option>
                </select>

                <input type="search" id="search_input" name="searchValue" placeholder="검색어를 입력하세요." th:value="${parameterForm.searchValue}">
                <button type="submit" id="search_button">검색</button>
            </div>
        </form>

        <!-- 페이지내이션 -->
        <div class="pagination">
            <a th:href="@{list(requestPage=1, searchValue=${parameterForm.searchValue})}">❮❮</a>
            <a th:href="@{list(requestPage=${pagination.previousStartPage}, searchValue=${parameterForm.searchValue})}">❮</a>

            <!-- 페이지번호 반복 -->
            <th:block th:each="i : ${#numbers.sequence(pagination.getStartPage(), pagination.getEndPage())}">
                <li th:if="${i == pagination.params.requestPage}" >
                    <a th:text="${i}">1</a>
                </li>
                <li th:if="${i != pagination.params.requestPage}" >
                    <a th:href="@{list(requestPage=${i}, searchValue=${parameterForm.searchValue})}" th:text="${i}">1</a>
                </li>
            </th:block>

            <a th:href="@{list(requestPage=${pagination.nextStartPage}, searchValue=${parameterForm.searchValue})}">❯</a>
            <a th:href="@{list(requestPage=${pagination.totalPages}, searchValue=${parameterForm.searchValue})}">❯❯</a>
        </div>

    </div>

</th:block>
</body>

</html>
