<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="css">
    <link href="/css/clubdetail.css" rel="stylesheet"/>
</th:block>

<th:block th:fragment="script">
    <script src="/js/weather.js" defer></script>
    <script src="/js/notice_popup.js" defer></script>
</th:block>

<th:block th:fragment="fontawesome">
    <script src="https://kit.fontawesome.com/89ab2ce88f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</th:block>

<th:block th:fragment="content">
    <div class="main-wrapper" th:href="@{/club/detail(clubNum=${clubDetail.clubNum})}">
        <div class="team_list_text">
            <span id="text1">클럽 상세정보</span><span id="text2">Detailed Information</span>
        </div>

        <div class="team-info">
            <div class="team-info-img">
                <img th:src="@{'/clublogo/' + ${clubDetail.clubStoredPhoto}}">
            </div>

            <div class="team-info-content">
                <div class="team-info-header">
                    <h1 id="team-name" th:text="${clubDetail.clubName}"></h1>
                    <div class="team-info-details">
                        <span>클럽장 :</span>
                        <span id="club-master" th:text="${clubDetail.clubPresident}"></span>
                        <span class="president-regdate-divide"></span>
                        <span>클럽 생성일 :</span>
                        <span id="club-creation-date" th:text="${clubDetail.clubRegdate}"></span>
                    </div>
                </div>

                <div class="team-info-stats">
                    <div class="team-info-item">
                        <span>멤버수</span>
                        <h3 id="member-count" th:text="${clubDetail.clubMemberCount}"></h3>
                    </div>
                    <div class="team-info-item">
                        <span>수준</span>
                        <h3 id="club_level" th:text="${clubDetail.clubLevel}"></h3>
                    </div>
                    <div class="team-info-item">
                        <span>활동지역</span>
                        <h5 id="play-area" th:text="${clubDetail.clubLocation}"></h5>
                    </div>
                    <div class="team-info-item">
                        <span>소개</span>
                        <h5 id="club_info_textarea" th:text="${clubDetail.clubInfo}"></h5>
                    </div>
                </div>
            </div>

            <div class="team_join_div">
                <button class="team_join_btn">
                    <a class="team_join_a" href="/club/join">가입신청 <i class="fa-solid fa-right-to-bracket"></i></a>
                </button>
            </div>
        </div>

        <div class="team-content">
            <div class="team-table">
                <h3 id="club_member">멤버</h3>
                <table style="text-align: center;">
                    <thead>
                    <tr>
                        <th>사진</th>
                        <th>이름</th>
                        <th>직책</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="clubMember : ${clubMembers}">
                        <td id="img_td"><img id="club_member_img" th:src="@{/profile/{fileName}(fileName=${clubMember.storedProfile})}"></td>
                        <td th:text="${clubMember.name}"></td>
                        <td th:text="${clubMember.dir}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <a href="#">❮❮</a>
                    <a href="#">❮</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">❯</a>
                    <a href="#">❯❯</a>
                </div>
            </div>

<!--            <div class="team-table">-->
<!--                <h3 id="game_score">최근 활동</h3>-->
<!--                <table style="text-align: center;">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>날짜</th>-->
<!--                        <th>경기장</th>-->
<!--                        <th>결과</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="clubRec : ${clubRecs}">-->
<!--                        <td th:text="${clubRec.recDate}"></td>-->
<!--                        <td th:text="${clubRec.recFid}"></td>-->
<!--                        <td th:text="${clubRec.recSco}"></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
        </div>
    </div>
</th:block>
</body>
</html>
