<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: template(~{this :: css}, ~{this :: script}, ~{this :: content}, ~{this :: fontawesome})}">

<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="css">
    <link href="/css/today_game.css" rel="stylesheet" />
</th:block>
<th:block th:fragment="fontawesome">
    <script src="https://kit.fontawesome.com/89ab2ce88f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</th:block>

<th:block th:fragment="script">

</th:block>

<th:block th:fragment="content">

    <h1 id="header" th:text="|${matchDetail.matchDateForm}일 의 경기정보|"></h1>

    <div id="info-board">
        <div id="game-info">
            <table id="info-table">

                <tr>
                    <th scope="col"> 날 짜 </th>
                    <td th:text="${matchDetail.matchDate}"></td>
                </tr>

                <tr>
                    <th scope="col"> 구장 이름 </th>
                    <td th:text="${matchDetail.fieldName}" }></td>
                </tr>

                <tr>
                    <th scope="col">기타 전달사항 </th>
                    <td class="match-info" th:text="${matchDetail.matchInfo}"></td>
                </tr>


            </table>

                <h2 class="tactic-title">전략판</h2>
            <div id="tactic-board">
                <img th:src="@{/upload/soccerboard/{matchPhoto}(matchPhoto=${matchDetail.matchPhoto})}" class="match-photo"/>
            </div>

        </div>


        <div id="map-today">
            <h2>경기장 위치</h2>
            <h3 id="map-name" th:text="${matchDetail.fieldName}"></h3>
            <div>
                <div id="map-img">
                    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	94449e96205beb140bfba2b02da6e26e"></script>
                    <script th:inline="javascript">
                    <!--좌표 Data-->
                        var fieldX = [[${matchDetail.fieldX}]];
                        var fieldY = [[${matchDetail.fieldY}]];
                        var filedName = [[${matchDetail.fieldName}]];

                        var staticMapContainer  = document.getElementById('map-img'), // 이미지 지도를 표시할 div
                            staticMapOption = {
                                marker : {
                                    text : filedName, // 마커와 함께 표시할 텍스트
                                    position: new kakao.maps.LatLng(fieldX, fieldY) // 좌표가 없으면 지도 중심에 마커가 표시된다
                                },
                                center: new kakao.maps.LatLng(fieldX, fieldY), // 이미지 지도의 중심 좌표
                                level: 3, // 이미지 지도의 확대 레벨
                                mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
                            };

                        // 이미지 지도를 생성한다
                        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);

                    </script>
                </div>
            </div>


            <h2>구장 오시는길</h2>
            <h4 th:if="${matchDetail.fieldNewaddress != null}" th:text="${matchDetail.fieldNewaddress}"></h4>
            <h4 th:unless="${matchDetail.fieldNewaddress != null}" th:text="${matchDetail.fieldOldaddress}"></h4>
        </div>

    </div>

</th:block>

</body>

</html>